$font-stack: menlo, "andale mono", consolas, "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "Meiryo", "メイリオ", "Osaka", "MS PGothic", "ＭＳ Ｐゴシック", sans-serif;

$color-background: #f3f2ee;
$color-body: #1f0909;
