@import "../../node_modules/sass-bem/bem";

// coding...
@include object('media') { // or o('media')
  margin: 10px;

  @include parse('&', 'e:body') { // or p('&', 'e:body')
    overflow:hidden;
    _overflow:visible;
    zoom:1;
  }

  @include element('image') { // or e('image')
    float:left;
    margin-right: 10px;

    @include at('rtl') { // .o-media--rtl .o-media__image
      float: right;
      margin-left: 10px;
      margin-right: 0;
    }
  }

  @include element('thumb') { // or e('thumb')
    display: block;
  }
}
