/*
ベンダープレフィクスの自動付与
*/
.header {
  display: flex;
}

/*
変数
テーマカラーの変更とか便利

$名前:セットする値;
*/

$color-base:#ffffff;
$color-sub:#333333;
$color-key:#ff8a8a;

$fontsize-base:16px;
$fontsize-title:30px;

body{
  color: $color-base;
  font-size: $fontsize-base;
}
